<h1>Travel</h1>
<ul id="sites">
    <li>
        <a href="travel.html"><img src="images/reef.jpg" alt="Img"></a>
        <h2><a href="travel.html">Gale Reef</a></h2>
        <p>
            Sed et augue lorem. In sit amet placerat eros. Mauris 
            sapien massa, pellentesque at.
        </p>
        <p>
            Sed consequat libero ut turpis venenatis.
        </p>
    </li>
    <li>
        <a href="travel.html"><img src="images/reef-2.jpg" alt="Img"></a>
        <h2><a href="travel.html">Dawson's Reef</a></h2>
        <p>
            Integer magna leo, posuere et dignissim sed, 
            finibus.
        </p>
        <p>
            vulputate, vulputate at est. Morbi aliquet 
            dolor.
        </p>
    </li>
    <li>
        <a href="travel.html"><img src="images/reef-3.jpg" alt="Img"></a>
        <h2><a href="travel.html">Claire's Reef</a></h2>
        <p>
            Donec sed felis risus. Nulla facilisi. 
            Maecenas.
        </p>
        <p>
            Maecenas sed libero. In hac habitasse platea.
        </p>
    </li>
</ul>